<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="icon" href="{{url_for('static', filename='/assets/favicon.ico')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>PetFax | {% block title%} We Love PetFax {% endblock %}</title>

</head>
<body>
    <div class="logo-container">
        <img src = "{{ url_for('static', filename = 'assets/pet_adopt.png')}}" alt = "logo">

    </div>
    {%block body%}
    Default Index
     {%endblock%}
</body>
</html>